<p id="notice"><%= notice %></p>

<h1>検査値の日記</h1>

<table>
  <thead>
    <tr>
      <th>検査後に記録しよう</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drug_histories.each do |drug_history| %>
      <tr>
        <td><%= drug_history.start_time %></td>

        <td><%= link_to '詳細', drug_history %></td>
        <td><%= link_to '編集', edit_drug_history_path(drug_history.id) %></td>
        <td><%= link_to '削除',drug_history_path(drug_history.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '記録する', new_drug_history_path %>

<%= month_calendar events: @drug_histories do |date, drug_histories| %>
  <%= date.day %>

  <% drug_histories.each do |drug_history| %>
    <div>
      <%= link_to drug_history.hp_name, drug_history %>
    </div>
  <% end %>
<% end %>