<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    mediboard drug_history/show
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <!-- nav_sidebar -->
  <%= render partial: "tweets/nav_sidebar"%>
  <!-- content -->
  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <h3 class="description">検査値の記録</h3>
        <div class="card mb-4">
          <div class="card-body">
            <p id="notice"><%= notice %></p>
            <table class="table">
              <tbody>
                <tr>
                  <th class="table__col1">時間</th>
                  <td class="table__col2"><%= @drug_history.start_time.strftime("%Y-%m-%d %H:%M") %></td>
                </tr>
                <tr>
                  <th class="table__col1">内容</th>
                  <td class="table__col2"><%= @drug_history.text %></td>
                </tr>
                <tr>
                  <th class="table__col1">医療機関名</th>
                  <td class="table__col2"><%= @drug_history.hp_name %></td>
                </tr>
                <tr>
                  <th class="table__col1">身長</th>
                  <td class="table__col2"><%= @drug_history.height_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">体重</th>
                  <td class="table__col2"><%= @drug_history.weight_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">血圧</th>
                  <td class="table__col2"><%= @drug_history.pressure_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">白血球(WBC)</th>
                  <td class="table__col2"><%= @drug_history.wbc_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">ヘモグロビン濃度(Hb)</th>
                  <td class="table__col2"><%= @drug_history.hb_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">血小板数(PLT)</th>
                  <td class="table__col2"><%= @drug_history.plt_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">血液凝固系検査値(PT-INR)</th>
                  <td class="table__col2"><%= @drug_history.pt_inr_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">AST</th>
                  <td class="table__col2"><%= @drug_history.ast_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">ALT</th>
                  <td class="table__col2"><%= @drug_history.alt_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">γ-GDP</th>
                  <td class="table__col2"><%= @drug_history.gdp_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">血清クレアチニン(Scr)</th>
                  <td class="table__col2"><%= @drug_history.scr_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">糸球濾過量(eGFR)</th>
                  <td class="table__col2"><%= @drug_history.egfr_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">CK(CPK)</th>
                  <td class="table__col2"><%= @drug_history.cpk_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">カリウム値</th>
                  <td class="table__col2"><%= @drug_history.k_id %></td>
                </tr>
                <tr>
                  <th class="table__col1">血糖値(HbA1c)</th>
                  <td class="table__col2"><%= @drug_history.hba1c_id %></td>
                </tr>
              </tbody>
            </table> 
            <% if user_signed_in? && current_user.id == @druhis_message.user_id %>
              <%= link_to '編集', edit_drug_history_path(@drug_history) %>
            <% end %>
            <%= link_to '戻る', drug_histories_path %>
            <%= link_to 'マイページへ', tweets_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End content -->
  <div class="col-md-8">
    <h3 class="description">コメント</h3>
    <div class="card mb-4">
      <div class="card-body">
        <% if user_signed_in? %>
          <%= form_with(model: [@drug_history, @druhis_message], url: "/drug_histories/#{@drug_history.id}/druhis_messages", method: :post, local: true) do |f| %>
            <%= f.text_field :text %>
            <%= f.submit 'コメント！' %>
          <% end %>
        <% end %>
        <ul>
          <div class="comments_lists">
            <p></p>
            <% @druhis_messages.each do |druhis_message| %>
              <li>
                <p>
                  <%= druhis_message.text %>
                  <% if user_signed_in? && current_user.id == druhis_message.user_id %>
                    <%= button_to "削除", drug_history_druhis_message_path(@drug_history, druhis_message), method: :delete %>
                  <% end %>
                </p>
              </li>
              <p>
                <%= link_to "#{druhis_message.user.name}さん", "/users/#{@drug_history.user_id}", class: :message_user %>
              </p>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap.min.js"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="./assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
</body>

</html>