<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading" >
        <%= link_to 'mediboard', root_path %>
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"><%=current_user.name%>さん</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">地域</th>
              <td class="table__col2"><%= "#{current_user.prefecture.name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">性別</th>
              <td class="table__col2"><%="#{current_user.sex.name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">年齢</th>
              <td class="table__col2"><%="#{current_user.age.name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">自己紹介</th>
              <td class="table__col2"><%="#{current_user.content}" %></td>
            </tr>
            <tr>
              <th class="table__col1">店舗名</th>
              <td class="table__col2"><%= "#{current_user.shop_name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">住所</th>
              <td class="table__col2"><%= "#{current_user.address}" %></td>
            </tr>
            <script type="text/javascript">
                  function initMap() {
                    //latitude,longitudeから位置を特定
                    var test ={lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                              zoom: 15, 
                              center: test
                              });
                    var transitLayer = new google.maps.TransitLayer();
                    transitLayer.setMap(map);

                    var contentString = '住所：<%= @user.address %>';
                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });

                    //Map上の指定した位置にピンを挿して表示する
                    var marker = new google.maps.Marker({
                                  position:test,
                                  map: map,
                                  title: contentString
                                });

                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });
                  }
            </script>

            <script async defer
                          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
            </script>

            <style type="text/css">
              #map { height: 200px;
                    width: 70%;}
            </style>
            <div id="map"></div>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">←→</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to '薬歴管理', "#", class: "dropdown-item" %>
                <%= link_to 'お薬データベース', "#", class: "dropdown-item" %>
                <%= link_to '薬剤師検索', "#", class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <aside class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @user.name %></h3>
              </div>
              <div class="panel-body al-c">
                  <%# if @user.image? %>
                    <%#= image_tag @user.image, :class => "mw50" %>
                  <%# else %>
                    <%#= image_tag("/images/icon/icon-mama-02-160px.png") %>
                  <%# end %>
              </div>
            </div>
          </aside>
          <div class="col-md-8">
            <p><span class="orange b"><%= @user.name %></span>
            &nbsp;<%= @user.email %>
            <% if @user.name.present? %>
              &nbsp;<%= @user.name %>
            <% end %>
              &nbsp;<%= @user.name %></p>
            <p class="orange b">自己紹介</p>
            <p><%= @user.name %></p>
          </div>
        </div>
      </div>
      <h2 class="page-heading">
        <%= "#{@user.name}さんの投稿"%>
      </h2>
      <h2>ユーザー詳細ページ</h2>
      <p><%= "フォロー数: #{@user.follower.count}" %></p>
      <p><%= "フォロワー数: #{@user.followed.count}" %></p>

      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
        <% else %>
          <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
        <% end %>
      <% end %>

      <table class="table">
        <tbody>
          <tr>
            <th><h3>フォロー一覧</h3></th>
            <% @user.following_user.where.not(id: current_user.id).each do |user| %>
              <p>
                <%= "#{@user.name}さん" %>
                <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
                <% else %>
                  <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
                <% end %>
                <%= link_to "プロフィール", user_path(user) %>
              </p>
            <% end %>
          </tr>
          <tr>
            <th><h3>フォロワー一覧</h3></th>
            <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
                <%= "#{@user.name}さん" %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
              <% else %>
                <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
              <% end %>
                <%= link_to "プロフィール", user_path(user) %>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">地域</th>
              <td class="table__col2"><%= "#{current_user.prefecture.name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">性別</th>
              <td class="table__col2"><%="#{@user.sex}" %></td>
            </tr>
            <tr>
              <th class="table__col1">店舗名</th>
              <td class="table__col2"><%= "#{@user.shop_name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">住所</th>
              <td class="table__col2"><%= "#{@user.address}" %></td>
            </tr>
            <tr>
              <th class="table__col1">店舗紹介</th>
              <td class="table__col2"><%= "#{@user.shop_info}" %></td>
            </tr>
            <tr>
              <th class="table__col1">自己紹介</th>
              <td class="table__col2"><%= "#{@user.content}" %></td>
            </tr>
          </tbody>
      </table>
      <div class="user__card">
        <%# そのユーザーが投稿した投稿投稿一覧を表示する %>
        <div class="card">
            <%#= image_tag @tweets.image, class: 'tweet-image' if @tweets.image.attached? %>
          <div class="card__body">
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>