<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">mediboard</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                      <% if user_signed_in? %>
                        <li class="nav-item">
                          <%= link_to 'マイページ', tweets_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                          <%= link_to '質問を投稿する', new_tweet_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                        </li>
                      <% else %>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">What's mediboard?</a></li>
                        <li class="nav-item">
                          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation-->

        <!--top画面-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">mediboard</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">薬でつながるコミュニケーション</p>
                        <a class="btn btn-warning" btn-xl js-scroll-trigger href="#services">Services</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <h2 class="text-center mt-0">Service</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-gem text-warning mb-4"></i>
                            <h3 class="h4 mb-2">質問できる</h3>
                            <p class="text-muted mb-0">薬剤師に薬のことを自由に質問しよう。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-warning mb-4"></i>
                            <h3 class="h4 mb-2">薬の情報を共有</h3>
                            <p class="text-muted mb-0">質問された内容が巨大な薬のデータベースに</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-globe text-warning mb-4"></i>
                            <h3 class="h4 mb-2">薬剤師を売り込もう</h3>
                            <p class="text-muted mb-0">質問に応えていいねが評価に。薬局を売り込もう</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-warning mb-4"></i>
                            <h3 class="h4 mb-2">かかりつけの薬剤師がみつかる</h3>
                            <p class="text-muted mb-0">お気に入り薬剤師とつながれる</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About-->
        <section class="whatmedi-bg-color" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h1 class="text-white mt-0">What's mediboard？</h1>
                        <hr class="divider my-4" />
                        <p class="text-white-50 mb-4">mediboardで薬剤師とつながろう！あなたにはかかりつけの薬剤師はいますか？くすりのことなんでも聞ける薬剤師はいますか？mediboardでみつけましょう！</p>
                        <a class="btn btn-warning" btn-xl js-scroll-trigger href="#about">もっと詳しく↓</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Content -->

       <!-- Navigation -->
      <section id="about">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2>あなたにぴったりのかかりつけ薬剤師がみつかる</h2>
              <hr class="divider my-4" />
              <p class="lead">mediboardで気軽に質問しよう！日本全国の登録した薬剤師が答えます！お気に入りの薬剤師がいれば、フォローしよう！</p>
            </div>
              <ul>
                <li>最寄りの薬局、いつも混んでいて聞きにくい</li>
                <li>いつもいく薬局の薬剤師は無愛想で聞きづらい</li>
                <li>こんなこと薬剤師の先生に聞いてよいのかな。。でも調べてもでてこなくて。</li>
                <li>くすりと健康のことも聞いてみたい。</li>
              </ul>
          </div>
        </div>
      </section>

      <section id="services" class="bg-light">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2>薬剤師の情報を発信しよう</h2>
              <hr class="divider my-4" />
              <p class="lead">薬剤師がもっている知識や情報はもっと全国に共有されるべきです。mediboardで信頼の高い薬剤師に、実際に薬局で会える。</p>
            </div>
          </div>
        </div>
      </section>

      <section id="contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2>mediboardで広がる可能性</h2>
              <hr class="divider my-4" />
              <p class="lead"></p>
            </div>
              <ul>
                <li>薬局の集客に利用できる</li>
                <li>薬剤師の求人になる。優秀な薬剤師がみつかる</li>
                <li>薬歴管理機能を活用できる。患者さんとのコミュニケーションツールに</li>
                <li>くすりの情報は集積する。やがて巨大なデータベースに</li>
              </ul>
          </div>
        </div>
      </section>
    <!-- /.container -->
    
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>
              <!-- Pager -->
              <div class="clearfix">
                <a class="btn btn-warning float-right" href="#">TOP&rarr;</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">さあ！はじめよう！</h2>
                <hr class="divider my-4" />
                <%= link_to "新規登録する", new_user_registration_path, class: 'btn btn-warning' %>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container"><div class="small text-center text-muted">Copyright © 2021 - mediboard</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>