<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>mediboard Top</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|Lato:400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/fancybox/fancybox.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">mediboard</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', tweets_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '質問を投稿する', new_tweet_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">What's mediboard?</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">管理人について</a></li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Navigation-->

  <section id="home" name="home"></section>
  <%= image_tag "mediboard-top.jpg", class:"headerwrap"%>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="logo1-h1">
          <h1>medi board</h1>
        </div>
      </div>
    </div>
  </div>

  <section id="services" name="services"></section>
  <div id="servicewrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8-offset-2 centered">
          <h1>What's mediboard?</h1>
          <h4>mediboardで薬剤師とつながろう！</h4>
        </div>
        <!-- /col-lg-8 -->
      </div>

      <div class="row mt">
        <div class="col-lg-4 service">
          <i class="fas fa-search"></i>
          <small>かかりつけ薬剤師がみつかる</small>
          <p class="text">mediboardで気軽に質問してみましょう！日本全国の登録した薬剤師が答えます！お気に入りの薬剤師がいれば、フォローしましょう！</p>
        </div>
        <div class="col-lg-4 service">
          <i class="far fa-comment"></i>
          <small>薬剤師の情報を発信しよう</small>
          <p class="text">薬剤師がもっている貴重な知識はもっと共有されるべきです。「もっと薬剤師の立場をあげたい」思いでつくりました。</p>
        </div>
        <div class="col-lg-4 service">
          <i class="fas fa-users"></i>
          <small>mediboardで広がる可能性</small>
          <p class="text">薬局の集客に。薬剤師の求人に。患者さんとのコミュニケーションツールに。やがて巨大なデータベースに.</p>
        </div>
      </div>

      <div class="row mt">
        <div class="col-lg-4 service">
          <i class="fas fa-notes-medical"></i>
          <small>検査値の記録機能</small></p>
          <p class="text">薬剤師とのヒアリングから、「患者さんとお話しする時に検査値が見られれば」という希望に応えました！</p>
        </div>
        <div class="col-lg-4 service">
          <i class="fa fa-globe"></i>
          <small>記事検索機能</small></p>
          <p class="text">同じような悩みの記事を探せます！</p>
        </div>
        <div class="col-lg-4 service">
          <i class="fas fa-map-marked-alt"></i>
          <small>近所の薬局を探せる</small></p>
          <p class="text">マップ上でmediboardに登録された薬局が検索できます。近所にいる薬剤師はどんな人か見てみましょう！</p>
        </div>
      </div>

    </div>
  </div>
  

  <div class="sep about" data-stellar-background-ratio="0.5"></div>

  <section id="services" name="services"></section>
    <div id="servicewrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-8-offset-2 centered">
            <h1>"セルフメディケーション"推進のサポートに</h1>
            <h4>mediboardでかかりつけの薬剤師を見つけましょう。</h4>
            <h4>mediboardであなたのおくすり記録をつけましょう。</h4>
            <h4>※症状によっては手遅れになる前に直ちに病院へいきましょう。</h4>
          </div>
          <!-- /col-lg-8 -->
        </div>

        <div class="row mt">
          <div class="col-lg-4 service">
            <i class="fas fa-hand-holding-medical"></i>
            <small>セルフメディケーションとは？</small>
            <p class="text">厚労省より推進されており、「自分自身の健康に責任をもち、軽度な身体の不調は自分で手当てすること」とWHOは定義しています。平均寿命が長くなり、生活習慣病などが問題になってきた現代において、日々をいかに健康に過ごすかが問われています。正しい知識や副作用などの問題を防ぐためには、かかりつけの薬剤師を持つことが重要です。</p>
          </div>
          <div class="col-lg-4 service">
            <i class="far fa-star"></i>
            <small>セルフメディケーションの効果は？</small>
            <p class="text">自分自身の健康管理が身に付きます。医療や薬の知識がつきます。疾病により医療機関へいく手間と時間が省けます。国民医療費の削減につながります。</p>
          </div>
          <div class="col-lg-4 service">
            <i class="fas fa-file-medical"></i>
            <small>セルフメディケーション税制とは？</small>
            <p class="text">2017年1月より、特定の医薬品購入に対する「セルフメディケーション税制」が始まりました。医療費控除の特例として、健康の維持増進及び疾病の予防への取組として一定の取組を行う個人が、スイッチＯＴＣ医薬品（要指導医薬品及び一般用医薬品のうち、医療用から転用された医薬品）を購入した際に、その購入費用について所得控除を受けることができます。</p>
          </div>
        </div>

        <div class="row mt">
          <div class="col-lg-4 service">
            <i class="fas fa-sync-alt"></i>
            <small>スイッチOTCって？</small></p>
            <p class="text">医療用医薬品として用いられた成分が、OTC医薬品に転換（スイッチ）された医薬品のことで、主な例は解熱鎮痛剤のイブプロフェン、消炎剤のインドメタシン、生理痛用薬のイブプロフェンなどあります。そのほか胃腸薬、鎮痛剤、水虫薬、アレルギー用薬など、種類は幅広く購入できます。</p>
          </div>
          <div class="col-lg-4 service">
            <i class="far fa-question-circle"></i>
            <small>OTCってなに？</small></p>
            <p class="text">OTCとは、Over The Counterの略です。OTC医薬品は、カウンター越しに販売者などの助言を受けた上で、医師の処方箋が無くとも購入できる医薬品である。全般的に医療用医薬品よりもリスクが低いとされています。</p>
          </div>
          <div class="col-lg-4 service">
            <i class="fas fa-mail-bulk"></i>
            <small>セルフメディケーション税制の申請方法は？</small></p>
            <p class="text">国税庁の正式ホームページです→<input type="button" onclick="location.href='https://www.nta.go.jp/taxes/shiraberu/shinkoku/tokushu/info-iryouhikoujo.htm'" value="調べる"></p>
          </div>
        </div>
    </div>
  </div>

  <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>

  <section id="about" name="about"></section>
  <div id="aboutwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 name">
          <p>Yusuke Ishige</p>
          <%= image_tag "IMG_6089.jpg", class: "name-label" %>
        </div>
        <div class="col-lg-8 name-desc">
         <%= image_tag "name-zig.png", class: "name-zig" %>
          <h2>プログラミング学習中！</h2>

          <div class="col-md-6">
            <p>MSという医療機関へ医薬品を売り込み、届ける仕事に約7年間従事。薬剤師と患者さんの架け橋となるSNSアプリ開発を思いつく。
            </p>
            <p>Twitterなどで患者さんの質問に答えたり、ブログで情報を提供する薬剤師はいるものの、mediboardのようなお薬の情報だけでなく、薬局や薬剤師の人柄までが知れるアプリは私が知る限りありません。</p>
          </div>
          <div class="col-md-6">
            <p>病院や薬局は患者さんで溢れ、今後はますます需要が増すことでしょう。セルフメディケーションでうまく健康を保てれば、病院にいく手間、時間が有意義な時間に使うことができます。</p>
            <p>もちろん、症状によっては手遅れになる前に直ちに病院へいきましょう。mediboardで薬剤師に気軽に質問して、日本を元気に健康に。</p>
          </div>
          <%= image_tag "name-zig.png", class: "name-zig" %>

        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /aboutwrap -->
  <div id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 mt">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active mb centered">
                <h3></h3>
                <p>
                </p>
              </div>
            </div>
            <!-- Indicators -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "medi-board_logo2.png", class:"logo-a"%>

  <section id="contact" name="contact"></section>
  <div class="sep contact" data-stellar-background-ratio="0.5"></div>


  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>mediboard</strong>. All Rights Reserved
      </p>
      <p>
        <%= link_to 'プライバシーポリシー', page_path('privacypolicy') %>
      </p>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/stellar/stellar.min.js"></script>
  <script src="lib/fancybox/fancybox.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <!-- popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <!-- bootstrap.js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>

</body>
</html>